{% extends "PWS_PR_PriceBook/base.html" %}
{% block title %}<title>常用网站</title>{% endblock title %}
{% block Z_js %}{% endblock Z_js %}
{% block content %}
    <div class="table-responsive customer-table">
        <table>
            <caption><b>公开网站:</b></caption>
            <tbody>
            <tr>
                <td width="40%">惠普工作站中文官方网站:</td>
                <td>
                    <a href="http://www.hp.com.cn/workstations" target="_blank">http://www.hp.com.cn/workstations</a>
                </td>
            </tr>
            <tr>
                <td>针对不同ISV不同的应用软件惠普工作站的推荐配置速查网站:</td>
                <td>
                    <a href="http://59.151.61.202/HPWSCC/recommend.do" target="_blank">http://59.151.61.202/HPWSCC/recommend.do</a>
                </td>
            </tr>
            <tr>
                <td>针对不同ISV不同的应用软件惠普工作站的推荐配置速查网站(美国):</td>
                <td>
                    <a href="http://www.hp.com/go/workstationfinder" target="_blank">www.hp.com/go/workstationfinder</a>
                </td>
            </tr>
            <tr>
                <td>针对MCAD应用的软件认证情况(每月进行一次web更新):</td>
                <td>
                    <a href="http://www.hp.com/go/mcadcertification"
                       target="_blank"></a>www.hp.com/go/mcadcertification</a>
                </td>
            </tr>
            <tr>
                <td>针对DCC应用的软件认证情况(每月进行一次web更新):</td>
                <td>
                    <a href="http://www.hp.com/go/dcccertification" target="_blank">www.hp.com/go/dcccertification</a>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <caption><b>HP内部网站:</b></caption>
            <tbody>
            <tr>
                <td width="40%">电子资料下载(本地):</td>
                <td>
                    <a href="http://hprp.pmglogistics.com.cn/" target="_blank">http://hprp.pmglogistics.com.cn/</a>
                </td>
            </tr>
            <tr>
                <td>资料预定(本地):</td>
                <td>
                    <a href="http://psg.pmglogistics.com.cn/" target="_blank">http://psg.pmglogistics.com.cn/</a>
                </td>
            </tr>
            <tr>
                <td>APJ销售工具网站:</td>
                <td>
                    <a href="http://intranet.hp.com/PSG/APJworkstationsbu/Workstations_Sales_Toolkit/Pages/Unix_Ws_%20Sales_Tools.aspx"
                       target="_blank">http://intranet.hp.com/PSG/APJworkstationsbu/Workstations_Sales_Toolkit/Pages/Unix_Ws_%20Sales_Tools.aspx</a>
                </td>
            </tr>
            <tr>
                <td>WGBU ISV认证网站:</td>
                <td>
                    <a href="http://eastcode.americas.hpqcorp.net/cert/query.asp" target="_blank">http://eastcode.americas.hpqcorp.net/cert/query.asp</a>
                </td>
            </tr>
            <tr>
                <td>商用显示器网站:</td>
                <td>
                    <a href="http://teams1.sharepoint.hp.com/teams/commercialdisplay/_layouts/viewlsts.aspx"
                       target="_blank">http://teams1.sharepoint.hp.com/teams/commercialdisplay/_layouts/viewlsts.aspx</a>
                </td>
            </tr>
            <tr>
                <td>WGBU工作站竞争比较分析网站:</td>
                <td>
                    <a href="http://vdccintproa.houston.hp.com/hpca/" target="_blank">http://vdccintproa.houston.hp.com/hpca/</a>
                </td>
            </tr>
            <tr>
                <td>WGBU工作站技术网站:</td>
                <td>
                    <a href="http://workstation.fc.hp.com/wgbumarketing/technical-marketing.html"
                       target="_blank">http://workstation.fc.hp.com/wgbumarketing/technical-marketing.html</a>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <caption><b>经销商园地：</b></caption>
            <tbody>
            <tr>
                <td width="40%">惠普工作站商机孵化系统：</td>
                <td>
                    <a href="http://ws.hptotalcare.com.cn/HPWSCC/weekly.do?cmd=toClaimList" target="_blank">http://ws.hptotalcare.com.cn/HPWSCC/weekly.do?cmd=toClaimList</a>
                </td>
            </tr>
            <tr>
                <td>惠普工作站配置推荐速查：</td>
                <td>
                    <a href="http://ws.hptotalcare.com.cn/HPWSCC/recommend.do" target="_blank">http://ws.hptotalcare.com.cn/HPWSCC/recommend.do</a>
                </td>
            </tr>
            <tr>
                <td>彩页订购：</td>
                <td>
                    <a href="http://www.gensky.net/Enterprise/UserInfo/UserSignIn.aspx" target="_blank">http://www.gensky.net/Enterprise/UserInfo/UserSignIn.aspx</a>
                </td>
            </tr>
            <tr>
                <td>惠普工作站官方网站：</td>
                <td>
                    <a href="http://h20426.www2.hp.com/campaign/workstations/cn/zh/index.html"
                       target="_blank"></a>http://h20426.www2.hp.com/campaign/workstations/cn/zh/index.html</a>
                </td>
            </tr>
            <tr>
                <td>金牌服务之家：</td>
                <td>
                    <a href="http://www.icareasc.com/carepack/" target="_blank">http://www.icareasc.com/carepack/</a>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <caption><b>代理商网站:</b></caption>
            <tbody>
            <tr>
                <td width="40%">代理业绩及奖励查询:</td>
                <td>
                    <a href="http://www.hp.com.cn/partnerportal" target="_blank">http://www.hp.com.cn/partnerportal</a>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td width="40%">工作站内部资料共享盘(内部,本地):</td>
                <td>
                    <a href="ftp://wsbuserver.chn.hp.com/">ftp://wsbuserver.chn.hp.com/</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
{% block Z_html %}{% endblock Z_html %}
