{% extends "PWS_PR_PriceBook/base.html" %}
{% block title %}<title>ISV销售工具</title>{% endblock title %}
{% block Z_js %}{% endblock Z_js %}
{% block content %}
        <div class="table-responsive customer-table">
          <table>
            <thead>
              <tr class="table-caption">
                <th colspan="4" class="text-center">ISV合作优势及销售工具汇总表</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="4">认证查询</th>
              </tr>
              <tr class="warning">
                <td>HP TCL 认证数据库</td>
                <td colspan="3"><a href="http://tcldb.ftc.rd.hpicorp.net/CertDB/" target="_blank">http://tcldb.ftc.rd.hpicorp.net/CertDB/</a></td>
              </tr>
              <tr>
                <td>产品认证查找</td>
                <td colspan="3"><a href="http://www8.hp.com/us/en/campaigns/isv-certifications/mcad-isv-certification.html?jumpid=ba_yt8mgi675q" target="_blank">http://www8.hp.com/us/en/campaigns/isv-certifications/mcad-isv-certification.html?jumpid=ba_yt8mgi675q</a></td>
              </tr>
              <tr>
                <td>HHP认证说明函</td>
                <td colspan="3">\\15.19.193.112\WorkStation\产品\认证\ISV</td>
              </tr>
              <tr>
                <td rowspan="8">ISV网站硬件认证/支持信息</td>
                <td colspan="3">
                  <a href="http://www.plm.automation.siemens.com/en_us/support/gtac/certifications.shtml" target="_blank">西门子PLM</a>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <a href="http://www.3ds.com/support/certified-hardware/certified-hardware-configurations/" target="_blank">达索</a>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <a href="http://www.ansys.com/About+ANSYS/Partner+Programs/HPC+Partners" target="_blank">ANSYS</a>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <a href="http://avid.force.com/pkb/articles/en_US/user_guide/en269631?popup=true" target="_blank">Avid</a>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <a href="http://usa.autodesk.com/adsk/servlet/syscert?siteID=123112&id=18844534" target="_blank">Autodesk</a>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <a href="http://www.mscsoftware.com/support/platform-support" target="_blank">MSC</a>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <a href="http://support.ptc.com/partners/hardware/current/support.htm" target="_blank">PTC</a>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <a href="http://www.solidworks.com/sw/support/videocardtesting.html" target="_blank">SOLIDWORKS</a>
                </td>
              </tr>
              <tr>
                <th colspan="4">推荐配置查询</th>
              </tr>
              <tr>
                <td>惠普官网查询网站</td>
                <td colspan="3">
                  <a href="http://www8.hp.com/us/en/campaigns/workstations/product-finder.html?jumpid=ex_r295_go_workstationfinder" target="_blank">http://www8.hp.com/us/en/campaigns/workstations/product-finder.html?jumpid=ex_r295_go_workstationfinder</a>
                </td>
              </tr>
              <tr>
                <th colspan="4">主要ISV合作优势与销售工具</th>
              </tr>
              <tr>
                <td>工作站ISV介绍</td>
                <td colspan="3">
                  \\15.19.193.112\WorkStation\产品\ISV\HP 工作站ISV介绍2015.pptx
                </td>
              </tr>
              <tr>
                <td>工作站ISV速查表</td>
                <td colspan="3">
                  \\15.19.193.112\WorkStation\产品\ISV\ISV软件速查表2015Jul.pdf
                </td>
              </tr>
              <tr>
                <th>合作伙伴</th>
                <th>优势快速指南</th>
                <th>销售工具</th>
                <th>快速链接</th>
              </tr>
              <tr>
                <td rowspan="9"><strong>Ansys</strong></td>
                <td>对于ANSYS举办的各项重大活动，惠普都积极地给予支持，以便加深用户对解决方案的理解，增强用户的使用体验。</td>
                <td rowspan="9">
                  ANSYS 公司介绍<br>
                  ANSYS 15_0系列测试报告——FLUENT 15_0 VOF模型_CAE <br>
                  ANSYS 15_0 新版本评测分析<br>
                  HP&ANSYS15测试白皮书<br>
                  HP&ANSYS16测试白皮书2015Apr<br>
                  HP and Ansys 工作站推荐配置<br>
                  选配ANSYS Mechanical最佳运行平台-HP工作站<br><br>

                  详见下面链接：<br>
                  \\15.19.193.112\WorkStation\产品\ISV\ANSYS
                </td>
                <td rowspan="9">
                  <a href="http://www8.hp.com/us/en/campaigns/workstations/ansys.html" target="_blank">HP与ANSYS</a> <br>
                  <a href="www.ansys.com" target="_blank"HP与ANSYS: >ANSYS 官网</a> <br>
                </td>
              </tr>
              <tr>
                <td width="40%">经过测试、认证和调整的工作站</td>
              </tr>
              <tr>
                <td>与竞争对手相比，惠普执行的测试更加广泛，通过ANSYS应用认证的工作站的数量也遥遥领先。通过这种广泛的测试，惠普能够为客户提供质量最好、最可靠的解决方案。</td>
              </tr>
              <tr>
                <td>惠普应用能力中心</td>
              </tr>
              <tr>
                <td>惠普工程师在使用惠普工作站帮助ANSYS测试其应用时，会得到惠普图形专家、操作系统专家、主板设计专家以及BIOS专家的大力支持。这些专家紧密合作，共同设计、测试，并解决客户可能会遇到的各种问题。确保顶级的质量和可靠性是惠普一贯追求的目标。</td>
              </tr>
              <tr>
                <td>惠普提供针对ANSYS软件的性能优化方案</td>
              </tr>
              <tr>
                <td>
                  HP PA 中有为ANSYS的众多主要软件，提供量身定制的系统优化方案:<br>
                  包括 ：ANSYS CFX, ANSYS Fluent, ANSYS Mechanical等<br>
                  优化方案包括最合适的显卡驱动程序、系统设置等，可一键轻松完成系统优化。同时可以通过单一界面助您了解系统配置，并可以对系统运行进行监控。
                </td>
              </tr>
              <tr>
                <td>专门的推荐配置网站</td>
              </tr>
              <tr>
                <td>请访问 <a href="http://www8.hp.com/us/en/campaigns/workstations/ansys.html">http://www8.hp.com/us/en/campaigns/workstations/ansys.html</a> ，了解推荐的ANSYS应用配置和其它相关信息。</td>
              </tr>
              <tr>
                <td rowspan="14"><strong>Autodesk</strong></td>
                <td>惠普是Autodesk的首选硬件合作伙伴</td>
                <td rowspan="14">
                  Autodesk 公司-AEC行业介绍<br>
                  Autodesk Showcase 产品介绍<br>
                  欧特克® 建筑设计套件 2015介绍<br>
                  HP&AUTODESK （建筑与制造）手册<br>
                  HP&AUTODESK （媒体与娱乐）手册<br>
                  AutoCAD 2015性能测试 Z230 vs PC<br>
                  AutoCAD ROI Z230SFF<br>
                  AUTODESK 建筑设计 显卡调优指南<br>
                  HP Autodesk联合成功案例-摩根汽车（制造业）<br>
                  HP Autodesk联合成功案例-Larson & Darby Group （建筑行业）<br>
                  HP AUTODESK 成功案例-建筑与室内设计<br>
                  联合成功案例-工作站助力北京第一高楼中国尊_视频<br><br>

                  详见下面链接：<br>
                  \\15.19.193.112\WorkStation\产品\ISV\Autodesk
                </td>
                <td rowspan="14">
                  <a href="http://www8.hp.com/us/en/campaigns/workstations/ansys.html">HP与ANSYS</a><br>
                  <a href="www.ansys.com"></a>ANSYS 官网
                </td>
              </tr>
              <tr>
                <td>惠普与Autodesk拥有共同的愿景，这有助于两家公司在技术开发方面携手合作，共同确定一致的技术发展方向和产品蓝图。对于Autodesk举办的各项重大活动，惠普都积极地提供支持，以便加深用户对于解决方案的了解，增强他们的使用体验。</td>
              </tr>
              <tr>
                <td>
                  超过20年的合作伙伴关系
                </td>
              </tr>
              <tr>
                <td>
                  我们与Autodesk拥有长期的合作历史，两家公司彼此都十分了解，因此能够为客户提供即时的支持。我们的工程师与Autodesk的工程师有着频繁的业务往来，能够帮助客户快速解决他们的问题。
                </td>
              </tr>
              <tr>
                <td>
                  经过测试、认证和调整的工作站
                </td>
              </tr>
              <tr>
                <td>
                  与竞争对手相比，惠普执行的测试更加广泛，通过Autodesk应用认证的工作站的数量也遥遥领先。通过这种广泛的测试，惠普能够为客户提供质量最好、最可靠的解决方案。在Autodesk Inventor的15大性能指标评测中，惠普一直负责其中多项指标的评测。
                </td>
              </tr>
              <tr>
                <td>
                  惠普工作站是Autodesk内部专有标准配置
                </td>
              </tr>
              <tr>
                <td>
                    Autodesk的每一款软件都是优先在惠普平台上进行开发、测试和检验（QA），远早于这些软件在其它品牌工作站上进行测试的时间。每一次漏洞修补以及每一个问题的出现都会首先由惠普工作站见证。
                </td>
              </tr>
              <tr>
                <td>
                  惠普应用能力中心
                </td>
              </tr>
              <tr>
                <td>
                    惠普工程师使用惠普工作站帮助Autodesk测试其应用时，会得到惠普图形专家、操作系统专家、主板设计专家以及BIOS专家的大力支持。这些专家紧密合作，共同设计、测试，并解决客户可能会遇到的各种问题。确保顶级的质量和可靠性是惠普一贯追求的目标。
                </td>
              </tr>
              <tr>
                <td>
                  惠普提供针对Autodesk软件的性能优化方案
                </td>
              </tr>
              <tr>
                <td>
                  "HP PA 中有为Autodesk的众多主要软件，提供量身定制的系统优化方案:<br>
                  包括 ：AutoCAD、Inventor，Maya、Navisworks、Revit、Simulation CFD等<br>
                  优化方案包括最合适的显卡驱动程序、系统设置等，可一键轻松完成系统优化。同时可以通过单一界面助您了解系统配置，并可以对系统运行进行监控。"<br>
                </td>
              </tr>
              <tr>
                <td>
                  专门的推荐配置网站
                </td>
              </tr>
              <tr>
                <td>
                  请访问 <a href="http://www8.hp.com/us/en/campaigns/workstations/autodesk-aec.html，http://www8.hp.com/us/en/campaigns/workstations/autodesk-media.html">http://www8.hp.com/us/en/campaigns/workstations/autodesk-aec.html，http://www8.hp.com/us/en/campaigns/workstations/autodesk-media.html</a> 了解推荐的Autodesk应用配置以及其它相关信息。
                </td>
              </tr>
            </tbody>
          </table>
        </div>
     {% endblock content %}

{% block Z_html %}{% endblock Z_html %}
