{% extends "PWS_PR_PriceBook/base.html" %}
{% block rule_button %}{% endblock rule_button %}
{% block title %}<title>我的配置详细</title>{% endblock title %}
{% block content %}
    <h2 class="text-center">请选择分类进行新建配置</h2>
    <div class="category-lists">
        {% for cate in category %}
            <div class="col-md-3">
                <button type="button" class="btn-category my-newrule" data-toggle="modal"
                        data-target="#category-{{ cate.id }}" id="{{ cate.id }}">{{ cate.name }}</button>
                <div class="modal fade" id="category-{{ cate.id }}" role="dialog">
                    <div class="modal-dialog modal-lg modal-new-w">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body modal-body-{{ cate.id }}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary check-isvalid" data-cate="{{ cate.name }}">检查选项是否合格</button>
                                <button type="button" class="btn btn-primary rule-button">保存</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        var stepName, cateName, labelName;
        function checkIsValid() {
            // Z240 Step 8C 如果PCIE硬盘没有选，则必选一项
            var lengthHD = $("input[name='Step 8C: HARD DRIVE 1']:checked").length;
            var lengthPCIE = $("input[name='Step 8A: INTERNAL PCIE STORAGE']:checked").length;
            if (lengthPCIE === 0 && lengthHD === 0) {
                alert("如果PCIE硬盘没有选，则Step 8C: HARD DRIVE 1必选一项");
                // return false
            }
            // 第二款硬盘选择时，需要选硬盘线
            var lengthHD2 = $("input[name='Step 8D: HARD DRIVE 2']:checked").length;
            var lengthCable = $("input[name='Step 8E: CABLE']:checked").length;
            if (lengthHD2 > 0 && lengthCable === 0) {
                alert('第二款硬盘选择时，需要选硬盘线');
                // return false
            }
            return true
        }
        $(".my-newrule").on("click", function () {
            var categoryID = $(this).attr("id");
            cateName = $(this).text()
            $.post("{% url "show_update_list:test2" %}",
                {
                    "cate_id": categoryID,
                },
                function (data) {
                    if (data.res == 1) {
                        stepName = JSON.parse(data.step_list1);
                        labelName = data.label_name;
                        $(".modal-body-" + categoryID).html(data.html);
                        for (var i = 1; i < $(".navbar").length; i++) {
                            $(".navbar").eq(i).css("display", "none");
                        }
                        // Z240 Step 8D 有第一块硬盘时才可选; 且只能选1项
                        // Z240 Step 8F 第三块硬盘选项，必须已选择第二块硬盘
                        if (cateName === "Z240") {
                            $("input[name='Step 8D: HARD DRIVE 2']").prop("disabled", true);
                            $("input[name='Step 8F: HARD DRIVE 3']").prop("disabled", true);
                            $("input[name='Step 8C: HARD DRIVE 1']").on("change", function () {
                                if ($("input[name='Step 8C: HARD DRIVE 1']:checked").length > 0) {
                                    $("input[name='Step 8D: HARD DRIVE 2']").prop("disabled", false)
                                } else {
                                    $("input[name='Step 8D: HARD DRIVE 2']").prop("disabled", true)
                                }
                            });
                            $("input[name='Step 8D: HARD DRIVE 2']").on("change", function () {
                                if (this.checked) {
                                    $('input[name="' + this.name + '"]').not(this).prop('checked', false);
                                    $("input[name='Step 8F: HARD DRIVE 3']").prop("disabled", false)
                                } else {
                                    $("input[name='Step 8F: HARD DRIVE 3']").prop("disabled", true)
                                }
                            });
                        }
                    }
                });
        });
        $(".check-isvalid").on("click", function () {
            for (var i = 0; i < stepName.length; i++) {
                var dataLess = $(`input[name="${stepName[i]}"]`).eq(0).data("less")
                var dataMore = $(`input[name="${stepName[i]}"]`).eq(0).data("more")
                var length = $(`input[name="${stepName[i]}"]:checked`).length
                if (dataLess != 0) {
                    if (length < dataLess || length > dataMore) {
                        alert(stepName[i] + "至少选" + dataLess + "最多选" + dataMore + ", 请确认" + stepName[i] + "是否选择正确")
                        return
                    }
                } else {
                    if (length > dataMore) {
                        alert(stepName[i] + "最多选" + dataMore + ", 请确认" + stepName[i] + "是否选择正确")
                        return
                    }
                }
            }
            if (cateName === "Z240" && !checkIsValid()) {
                return false
            }
            if (cateName === "Z8 G4") {
                var length = $('input[name="Step 7E:GraphicsConnectors"]:checked').length;
                if (length < 1) {
                    alert("Step 7E:GraphicsConnectors 至少选一项");
                    return false
                }
            }
            alert("配置选项OK")
        });
        $(".rule-button").on("click", function () {
            var radios = $('input[type="radio"]:checked');
            var checkeds = $('input[type="checkbox"]:checked');
            if(radios.length==0 && checkeds.length==0){
                alert("至少选择一项，不能为空");
                return false
            }
            var array_radios = [];
            var array_checkeds = [];
            for (var i = 0; i < radios.length; i++) {
                array_radios.push($(radios[i]).attr("data-index-number"))
            }
            for (var j = 0; j < checkeds.length; j++) {
                array_checkeds.push($(checkeds[j]).attr("data-index-number"))
            }
            $.post("{% url "show_list:new_user_rules" %}",
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    "qty": sum,
                    "count": item,
                    "rules_id": labelName,
                    "radios": JSON.stringify(array_radios),
                    "checkeds": JSON.stringify(array_checkeds),
                },
                function (data) {
                    if (data.msg == 1) {
                        $(location).attr('href', "/user_rules_show/?id=" + data.cateID)
                    }
                });
        });
    </script>
{% endblock content %}
