{% extends "PWS_PR_PriceBook/base.html" %}
{% block title %}<title>Z2 G4 TWR</title>{% endblock title %}
{% block content %}
    <div class="pull-right" style="color:brown;">
        <p><strong>选择产品: <span id="auto-total-item">{{ qty }}</span> 项 </strong></p>
        <p><strong>单价总计: <span id="auto-total-price">{{ count }}</span> CNY</strong></p>
    </div>
    <h3 class="text-center">Z2 G4 TWR</h3>
    <br><br>

    <div class="table-responsive customer-table">
        <table>
            <thead>
            <tr class="table-caption">
                <th colspan="10" class="text-center">HP Z2 mini Workstation</th>
            </tr>
            <tr>
                <th class="text-center">部件定货号(AV#)</th>
                <th class="text-center">产品描述(Short Description)</th>
                <th colspan="2" class="text-center">配置规则(Rules Description)</th>
                <th class="text-center">End of Manufacturing (EM)</th>
                <th class="text-center">CECP & EStar</th>
                <th class="text-center">List Price with VAT</th>
                <th class="text-center">Qty</th>
                <th class="text-center">编辑</th>
                <th class="text-center">删除</th>
            </tr>
            </thead>
            <tbody>
            {% for i in step %}
                <tr class="info">
                    <th colspan="2">{{ i.name }}</th>
                    <th class="text-center choice-option" width="100">{{ i.choice }}</th>
                    <th width="25%">{{ i.Rules }}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for j in i.product_set.all %}
                    <tr>
                        <td>{{ j.name }}</td>
                        <td width="25%">{{ j.descrip }}</td>
                        <td class="text-center">
                            {% if i.choice == "必选1项" %}
                                {% if j.Qty == "1" %}
                                    <input type="radio" name="{{ i.name }}" checked data-index="{{ i.choice }}"
                                           data-index-number="{{ j.id }}" id="{{ j.name }}">
                                {% else %}
                                    <input type="radio" name="{{ i.name }}" data-index="{{ i.choice }}"
                                           data-index-number="{{ j.id }}" id="{{ j.name }}">
                                {% endif %}
                            {% elif i.choice == "可选且只能选1项" %}
                                <input type="radio" name="{{ i.name }}" data-index="{{ i.choice }}"
                                       data-index-number="{{ j.id }}" id="{{ j.name }}">
                            {% else %}
                                <input type="checkbox" name="{{ i.name }}" data-index="{{ i.choice }}"
                                       data-index-number="{{ j.id }}" id="{{ j.name }}">
                            {% endif %}

                        </td>
                        <td>{{ j.rules_descrip }}</td>
                        <td class="text-center">{{ j.End_of_Manufacturing }}</td>
                        <td>{{ j.CECP_EStar }}</td>
                        <td class="text-center " id="{{ j.id }}">{{ j.List_Price }}</td>
                        <td class="text-center">{% if j.Qty == "1" %}{{ j.Qty }}{% endif %}</td>
                        {% if  request.session.super_user %}
                            <td>
                                <button class="btn btn-primary save-product-btn" type="button" id="save-{{ j.id }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </td>
                            <td style="width: 2px;">
                                <button class="btn btn-primary delete-product-btn" id="delete-{{ j.id }}"
                                        type="button"><span
                                        class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if request.session.session_email %}
        <button class="btn btn-primary" type="button" id="rule_button">保存配置</button>
    {% endif %}
    <div class="pull-right" style="color:brown;">
        <p><strong>选择产品: <span id="total-item">{{ qty }}</span> 项 </strong></p>
        <p><strong>单价总计: <span id="total-price">{{ count }}</span> CNY</strong></p>
        <p><strong>折扣价格: <span id="discount-price">xxx</span> CNY</strong></p>
    </div>
    <div class="clearfix"></div>
{% endblock content %}
