body {
  background: #f4f4f4;
}

.body-content {
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}


table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 20px auto;
  text-align: left;
  width: 100%;
}



tbody th:first-child {
  border-left: 1px solid #777;
  box-shadow: inset 1px 1px 0 #999;
}


  /* .customer-table {

  } */

  .customer-table table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 20px auto;
    text-align: left;
    width: 100%;
  }

  .customer-table table th {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-top: 2px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    color: $color-text-default;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
  }

  .customer-table table tbody th {
    background: linear-gradient(#888, #555);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
  }

  .customer-table table tbody th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
  }


  .customer-table table th:first-child {
    box-shadow: inset 1px 0 0 #fff;
  }

  .customer-table table th:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
  }

  .customer-table table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
    vertical-align: middle;
    .thumbnail {
      margin-bottom: 0;
    }
  }

  .customer-table table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
  }

  .customer-table table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
  }

  .customer-table table tr:nth-child(odd) td {
    background: #f1f1f1;
  }

  .customer-table table tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
  }

  .customer-table table tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
  }

  .customer-table table tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
  }

  .customer-table table .table-caption th {
    padding-top: 10px;
    padding-bottom: 10px;
  }

.category-lists {
  margin-top: 100px;
  overflow: auto;
}

.btn-category {
  padding: 30px 50px;
  width: 100%;
  margin-bottom: 30px;
  transition: all 1s;
}

.btn-category:hover {
  background: #ebebeb;
}

.modal-new-w {
  max-width: 1000px;
}

.pagination {
  text-align: center;
  display: block;
}

.pagination .previous, .pagination .next {
  padding: 5px 10px;
  border: 1px solid #ddd;
  transition: all 0.5s;
}

.pagination .previous {
  margin-right: 10px;
}

.pagination .previous:hover {
  text-decoration: none;
  background: #337ab7;
  border-color: #337ab7;
  color: #fff;
}

.pagination .next {
  margin-left: 10px;
}

.pagination .next:hover {
  text-decoration: none;
  background: #337ab7;
  border-color: #337ab7;
  color: #fff;
}

.table-responsive {
  border: none;
}



/*  Mobile Style */

@media screen and (max-width: 600px) {
  .body-content {
    padding: 2px;
    font-size: 12px;
    margin-top: 50px;
  }

  .display-total-price {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}
