{% extends "admin/admin.html" %}
{% block title %}<title>admin</title>{% endblock title %}
{% block content %}
    <br>
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h4 class="text-center">部件限制管理</h4>
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">部件限制选项</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="limit">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">最少选项</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="less">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">最多选项</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="more">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">增加</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}